@use '../02-Base/utilities'
@use '../02-Base/variables'
.conteiner-form
    display: flex
    flex-direction: column
    align-items: center
    @include utilities.border(variables.$gray,1px)
    padding: 3rem
    width: 500px
    h2 
        text-align: center 
        font-size: 2rem 
        text-decoration: underline
    input
        width: 250px
        padding: 0.5rem 
        margin: 1rem 
    #btn-cadastra
        @include utilities.btn
        margin-top:50px 
        width: 70px
        text-decoration: none
        padding: 0.5rem
        text-align: center
       
    #btn-enviar
        @include utilities.btn 
        width: 100px
        margin-top: 20px 
        cursor: pointer
        text-decoration: none
        padding: 0.5rem
        text-align: center
       
.lk
    color: variables.$yellow 
    font-size: 3rem
.form-itens-span
    margin: 20px    
    display: flex
    flex-direction: column
.conteiner-label-input
     @include utilities.border(variables.$dark-blue,1px) 
     margin-top: 50px
     padding: 2rem   